.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9F1F1; 
    padding: 20px;
    min-height: 100vh; 
}


.home-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #A1307C; 
    margin-bottom: 20px;
     text-align: center;
}


.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    width: 100%;
}


.post {
    background-color: #F2408F;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; 
}

.post:hover {
    transform: translateY(-5px); 
}


.post-title {
    font-size: 1.5rem;
    color: #FFFFFF; 
    margin: 0;
}


.post-content {
    font-size: 1rem;
    color: #2D2C6C; 
    margin: 10px 0;
    line-height: 1.5;
}


.post-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #FFFFFF; 
    margin-top: 10px;
}



@media (max-width: 600px) {
    .home-title {
        font-size: 2rem; 
    }
    .post-title {
        font-size: 1.25rem; 
    }

    .post-content {
        font-size: 0.9rem; 
    }

    .post-footer {
        
       
font-size: 0.8rem; 
    }
}