.footer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  width: 100%; 
  position: relative; 
  bottom: 0; 
  color: #4a4a4a;
  box-sizing: border-box;
}
