
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.sidebar {
  width: 250px; 
  padding: 20px;
  position: fixed; /* Fija la sidebar */
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


main {
  margin-left: 250px; /* Compensar el ancho de la sidebar */
  padding: 20px;
  background-color: transparent; /* Mantener el fondo transparente */
  min-height: 100vh; /* Altura mínima del contenedor */
}


.layout {
  background: none; /* Elimina cualquier fondo adicional */
}
