#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}
