@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import'./App.css';

:root{
  --color-blue-dark:#4281B9;
  --color-blue-light:#2FB8D1;
  --color-fuchsia: #F542B8;
  --color-blue-king:#4E5EAA;
  font-family: "Open+Sans", sans-serif;
  color: var(--color-blue-king);
}

body{
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background:linear-gradient(135deg,var(--color-blue-dark), var(--color-blue-light));
}